.titulo-serif {
  font-family: "Noto Serif", "Times New Roman", serif;
}
.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 720px;
}
.header__title {
  position: absolute;
  left: 80px;
  top: 183px;
  max-width: 709px;
}
.header__title span {
  display: block;
}
.header__title .span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__title span:not(.span-accent) {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__description {
  position: absolute;
  left: 80px;
  top: 355px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: 1;
}
.header__footer {
  margin-top: auto;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__hours {
  margin-left: 80px;
}
.header__paragraph {
  margin: 0;
  margin-right: 80px;
}
